<% if current_user %>

<h1>Your Portfolio</h1>

<div class="list-group">
  <a href="<%= user_transactions_path(current_user) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Your Transactions</h5>
      <% if current_user.transactions.any? %>
      <small class="text-muted">Last Updated: <%= current_user.transactions.last.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small>
      <% end %>
    </div>
  </a>
  
  <br>
  
  <a href="<%= user_wallets_path(current_user) %>" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Your Wallets</h5>
      <% if current_user.wallets.any? %>
      <small class="text-muted">Last Updated: <%= current_user.wallets.last.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small>
      <% end %>
    </div>
  </a>
</div>

<% end %>

<script id="tx-list-template" type="text/x-handlebars-template">
  
    <% if current_user && !current_user.transactions.empty? %>
  
    <div class="list-group" id="tx-list-temp">
      
      <a href="/users/{{user.id}}/transactions/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <h5 class="pull-right"><small class="text-muted">{{ updated_at }}</small></h5>
        
        <p class="mb-1">Coin: {{ coin.name }}</p>
        <p class="mb-1">Amount: {{ amount }}</p>
        <p class="mb-1">Quantity: {{ quantity }} {{coin.symbol}}</p>
        <p class="mb-1">Coin price: ${{ price_per_coin }}</p>
        <p class="mb-1">Transaction fee: ${{ fee }}</p>
        </a>
        
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any transactions. Please add a new transaction.</p>
    
  <% end %>
</script>

<script id="wallet-list-template" type="text/x-handlebars-template">
    
    <% if current_user && !current_user.wallets.empty? %>
  
    <div class="list-group" id="wallet-list-temp">
      
      <a href="/users/{{user.id}}/wallets/{{id}}" class="list-group-item list-group-item-action flex-column align-items-start">
        <h5 class="pull-right"><small class="text-muted">{{ updated_at }}</small></h5>
        
        <p class="mb-1">Wallet Name: {{ name }}</p>
        <p class="mb-1">Coin: {{ coin.name }}</p>
        <p class="mb-1">Amount: {{ coin_amount }} {{coin.symbol}}</p>
        <p class="mb-1">Amount deposited: ${{ user_deposit }}</p>
        <p class="mb-1">Notes: ${{ notes }}</p>
        </a>
        
    </div>
    
  <% else %>
  
    <hr class="my-4">
    <p class="lead">You have not created any wallets. Please add a new wallet.</p>
    
  <% end %>
</script>