<div class="jumbotron">
  <h1 class="display-5">Welcome to Coinance.</h1>
  <p class="lead">The most refined digital currency asset management tool.</p>
  <hr class="my-4">
  <p>Start tracking your cryptocurrency assets.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>