<div class="jumbotron">
  <h1 class="display-4">Welcome to Coinance</h1>
  <p class="lead">The most refined digital currency asset management tool.</p>
  <hr class="my-4">
  <p>Start tracking your cryptocurrency assets now.</p>
  <p class="lead">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" if !user_signed_in? %>
    <%= link_to "Manage", user_path(current_user), class: "btn btn-primary btn-lg", role: "button" if user_signed_in? %>
  </p>
</div>