<div class="jumbotron">
  <h1 class="display-4">Create A New Wallet</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    
    <%= render partial: 'form', locals: {wallet: @wallet, action: 'create'} %>
    <!--This needs to create a wallet and then redirect to a new transaction-->
    <%= link_to "Create Wallet Button", new_user_wallet_path, class: "btn btn-primary btn-lg", role: "button" %>
  </p>
</div>