<div class="list-group">
  <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Your Transaction</h5>
      <small class="text-muted">Last Updated: <%= @transaction.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></small>
    </div>
    <p class="mb-1">maybe some tx info here</p>
    <small class="text-muted">Donec id elit non mi porta.</small>
  </div>
</div>