<div class="notice, container" id="flash-notice">
  <p>
  <%= content_tag(:div, flash[:message], class: "alert alert-dismissible alert-warning") if flash[:message] %>
  <%= content_tag(:div, flash[:error], class: "alert alert-dismissible alert-warning") if flash[:error] %>
  <%= content_tag(:div, flash[:notice], class: "alert alert-dismissible alert-success") if flash[:notice] %>
  <%= content_tag(:div, flash[:alert], class: "alert alert-dismissible alert-danger") if flash[:alert] %>
  </p>
</div>
