<footer>
  <div class="container">
    <div class="text-center">
      <a class="github" href="https://github.com/TheInvalidNonce/Coinance">
        <img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="60px">
          <p class="small text-muted">jszubert87@gmail.com</p>
      </a>
    </div>
  </div>
</footer>