<h1>Coin Index Page</h1>

<ul>
  <li>
    Last BTC Price: $<%= CryptocompareApi.price_from_to("BTC","USD") %>
  </li>  
  <li>
    Last ETH Price: $<%= CryptocompareApi.price_from_to("ETH", "USD") %>
  </li>
  <li>
    Last LTC Price: $<%= CryptocompareApi.price_from_to("LTC", "USD") %>
  <ol>
    <%= render partial: "coins/most_transactions", collection: @most_transactions, as: :transaction, locals: {last_tx: @most_transactions.last[0] } %>
  </ol>
</ul>